extends layout

block content
  h1 #{team.teamName} Stats
  div
  table.table.table-hover.table-bordered 
    thead
      tr
        th Team name
        th Opponent
        th Score
    tbody
      each log in logs
        tr
          td #{team.teamName}
          td #{log.opponent[0].teamName}
          if team.id === log.team1_id
            td #{log.team1_score} - #{log.team2_score}
          else 
            td #{log.team2_score} - #{log.team1_score}
    a.btn.btn-primary(href="/teams" class='backBtn') Back
